#link {
    text-align: center;
    display: block;
}

body {
    background-color: #292929;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #abcbed;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#elizaSection {
    border: 4px solid #abcbed;
    width: 75%;
    margin: 20px 0;
    padding: 20px 0;
}

#info {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
}