@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    font-size: 110%;
    margin: 0;
    color: #082736;
    a {
        /* color: #145C61; */
        color: #006168;
    }
}

header {
    background-color: #83C0CB;
    text-align: center;
    padding: 15px;
    color: #0b222e;
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 5px solid #A0D5DE;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin: 0;
    li a {
        text-decoration: none;
        color: #0b222e;
        transition: 0.5s;
        border-radius: 12px;
        padding: 4px 12px;
    }
    li a:hover {
        background-color: #A0D5DE;
    }
}

h1 {
    text-align: center;
    margin: 15px 0;
}

#map {
    /* border:3px solid black; */
    display: block;
    max-width: 100%;
    margin: 0 auto;
    /* height: 500px; */
    background-color: #f0f0f0;
}

img {
    size: 100%;
    max-width: 250px;
    height: auto;
}

.image {
    /* border: 3px solid black; */
    box-shadow: 10px 10px 15px #dedede;
    display: inline-block;
    padding: 10px;
    max-width: 275px;
    /* background-color: #dfdfdf; */
    p {
        margin: 0;
        text-align: center;
        font-size: 0.75em;
    }
}

.features {
    font-weight: bold;
}

main {
    width: 80%;
    margin: auto;
}

dt {
    font-weight: bold;
}

#gallery {
    margin: auto;
    text-align: center;
    
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #83C0CB;
    border-top: 5px solid #A0D5DE;
    margin-top: 30px;
}

/* form {
    text-align: left;
    input, textarea{
        width: 200px;
    }

}

#form {
    
} */
