@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* Colors */
    /* #082736 - main text */
    /* #0b222e - header & nav text*/
    /* #83C0CB - header bg */
    /* #A7DCE5 - header border */
    /* #006168 - h2 text & foot bg */
    /* #D9EDF1 - h2 bg */
    /* #D33335 - h3 text */
    /* #2D868C - foot border */

* {
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    font-size: 110%;
    margin: 0;
    color: #082736;
    background-color: #ffffff;
    a {
        /* color: #145C61; */
        color: #006168;
    }
    h2 {
        color: #006168;
        background-color: #D9EDF1;
        padding: 10px;
        border-radius: 10px;
    }
}

header {
    background-color: #83C0CB;
    text-align: center;
    padding: 15px;
    color: #0b222e;
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 5px solid #A7DCE5;
    h1 {
    text-align: center;
    margin: 15px 0;
    }
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin: 0;
    li a {
        text-decoration: none;
        color: #0b222e;
        transition: 0.5s;
        border-radius: 12px;
        padding: 4px 12px;
    }
    li a:hover {
        background-color: #A0D5DE;
    }
}

main {
    width: 80%;
    margin: auto;
    dt {
        font-weight: bold;
    }
    h3 {
        /* color: #EE2E31; */
        color: #D33335;
        padding: 0 10px;
    }
}

#banner {
    background-image: url(images/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}  
#banner2 {
    background-image: url(images/banner2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-position: bottom;
}   

#map {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border: 5px solid #2D868C;
    border-radius: 15px;
}

.features {
    font-weight: bold;
}
.name {
    margin: 0;
}
.facts {
    margin-top: 5px;
    margin-bottom: 20px;
}
.group {
    display: flex;
    img {
        height: 150px;
        width: auto;
        padding: 5px;
    }
}

#gallery {
    width: 80%;
    margin: auto;
    text-align: center;
}

.image {
    display: inline-block;
    padding: 10px;
    max-width: 275px;
    background-color: #D9EDF1;
    border-radius: 10px;
    margin: 8px 0;
    p {
        margin: 0;
        text-align: center;
        font-size: 0.75em;
    }
    img {
        size: 100%;
        max-width: 250px;
        height: auto;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #006168;
    border-top: 5px solid #2D868C;
    color: #f0f0f0;
    margin-top: 30px;
}
