* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #7ab4bf;
    padding: 20px;
    color: #0b222e;
    margin: 0;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    a {
        text-decoration: none;
        color: #0b222e;
    }
}

#map {
    border:3px solid black;
    max-width: 100%;
    margin: 0 75px;
    height: 500px;
    background-color: #f0f0f0;
    margin-top: 20px;
}

img {
    size: 100%;
    max-width: 250px;
    height: auto;
}

.image {
    /* border: 3px solid black; */
    box-shadow: 10px 10px 15px #dedede;
    display: inline-block;
    padding: 15px;
    max-width: 275px;
    /* background-color: #dfdfdf; */
}